# This is the configuration file for paladin.  It follows TOML format.

## Global options.

# Where to send paladin's logging output. An empty string means stdout, which is
# the default.
#log_file = "/var/log/paladin.log"


# Process options.  Every process must have a section header like this:
#[[process]]

## Required fields.

# Unique name used to identify the process.
#name = program-name

# Location of the program to run.
#path = /path/to/binary

## Optional fields.

# Arguments to pass to the program.
#args = ""

# Which files to use for stdout and stderr.
#stdout = "/dev/null"
#stderr = "/dev/null"

# Which user and group to use for the child.
# user = "root"
# group = "root"

# Time to wait before restarting the process, in milliseconds.
#restart_delay = 1000

# Whether to disable restarting on failure.
#ignore_failure = false

# If a process exits within this many milliseconds, don't restart it. A value
# of 0 disables this check.
#min_runtime = 100

# Which processes should be started before this one.
#soft_depends = [ "prog1", "prog2" ]

log_file = "/var/log/paladin.log"

# Examples:
#[[process]]
#name = "my-program"
#path = "/path/to/my-program"
#args = ""
#restart_delay = 1000
#min_runtime = 100
#stdout = "/tmp/my-program-stdout"
#user = "myuser"
#group = "mygroup"

#[[process]]
#name = "my-other-program"
#path = "/path/to/my-other-program"
#args = "-a -d"
#min_runtime = 100
#soft_depends = [ "my-program" ]
#restart_delay = 1000
